version: "3.8"

services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: bimarz_db
      POSTGRES_USER: bimarz
      POSTGRES_PASSWORD: x5k0c2t3o7
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

  django:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: gunicorn project.wsgi:application --bind 0.0.0.0:8000 --workers 3
    volumes:
      - ./backend:/app:delegated
      - static_volume:/app/static
      - media_volume:/app/media
    env_file:
      - .env
    depends_on:
      - postgres
    networks:
      - backend

  nextjs:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    command: sh -c "npm run build && npm run start"
    volumes:
      - ./frontend:/usr/src/app:delegated
    env_file:
      - .env
    networks:
      - frontend
      - backend

  nginx:
    image: nginx:stable
    restart: unless-stopped
    ports:
      - "80:80"
      #- "443:443"  # enable after TLS setup
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/srv/static:ro
      - media_volume:/srv/media:ro
    depends_on:
      - django
      - nextjs
    networks:
      - backend
      - frontend

volumes:
  postgres_data:
  static_volume:
  media_volume:

networks:
  backend:
  frontend:

